.mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 500;
  box-shadow: 0 15px 20px black;
}

.logo {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.mat-select {
  font-size: 0.8rem;
  margin-left: 1rem;
}

.mat-form-field {
  width: 130px;
  margin: 0 2rem 0 0.8rem;
}

.search {
  margin: 0 1rem 0 0;
}

small {
  font-size: 0.8rem;
}

.search-input {
  font-size: 0.8rem;
  padding-left: 1rem;
}
