<mat-toolbar color="primary" role="heading">
  <button (click)="resetQuery()" class="logo" mat-button>
    MovieTime
  </button>
  <small>Genres: </small>
  <mat-form-field MatFormFieldControl>
    <mat-select (selectionChange)="sendGenre($event)" [(value)]="params.genre">
      <mat-option *ngFor="let item of genres" [value]="item">
        {{ item }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <small>Sort: </small>
  <mat-form-field MatFormFieldControl>
    <mat-select (selectionChange)="sendSort($event)" [(value)]="params.sort">
      <mat-option *ngFor="let item of sort" [value]="item">
        {{ item }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-icon>search</mat-icon>
  <mat-form-field MatFormFieldControl class="search">
    <input
      (keyup.enter)="sendKeywords($event)"
      class="search-input"
      matInput
      type="text"
      [(ngModel)]="params.keywords"
    />
    <button
      mat-button
      *ngIf="params.keywords"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="resetQuery()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</mat-toolbar>
