<a class="close"><span matDialogClose class="X">&#43;</span></a>
<div class="row">
  <img *ngIf="movie?.banner" src="{{ movie?.banner }}" alt="" />
  <img *ngIf="!movie?.banner" src="assets/images/default.jpeg" alt="" />
  <div *ngIf="movie" class="content">
    <div class="title">
      <h1>
        {{ movie?.title }}
      </h1>
      <span *ngFor="let item of movie?.genres"> &bull; {{ item }}</span>
    </div>
    <h3>{{ movie?.synopsis }}</h3>
    <div class="links">
      <a (click)="playTrailer()" class="youtube-link">
        <img class="youtube" src="assets/images/youtube.svg" alt="" />
        See trailer
      </a>
      <a
        target="_blank"
        class="imdb-link"
        href="https://www.imdb.com/title/{{
          movie?.imdb_id
        }}/?ref_=nv_sr_srsg_3"
      >
        <img class="imdb" src="assets/images/imdb.svg" alt="" />
        See on IMDb
      </a>
      <mat-button-toggle-group (change)="changeMagnet($event)">
        <mat-button-toggle
          *ngIf="movie?.torrent720pUrl"
          [checked]="!movie?.torrent1080pUrl"
          [value]="movie?.torrent720pUrl"
          >720p</mat-button-toggle
        >
        <mat-button-toggle
          *ngIf="movie?.torrent1080pUrl"
          checked
          [value]="movie?.torrent1080pUrl"
          >1080p</mat-button-toggle
        >
      </mat-button-toggle-group>
      <button
        (click)="playMovie()"
        class="watch"
        mat-raised-button
        color="primary"
      >
        Watch Now!
      </button>
    </div>
  </div>
</div>
<div *ngIf="movieId" class="player">
  <a class="close"><span (click)="exitTrailer()" class="X">&#43;</span></a>
  <youtube-player
    height="{{ window().innerHeight - 50 }}"
    width="{{ window().innerWidth }}"
    videoId="{{ movieId + '?autoplay=1&mute=1' }}"
    SameSite="None"
  ></youtube-player>
</div>
<div *ngIf="!movie" class="loading">
  <mat-spinner></mat-spinner>
</div>
<div id="movie-player" *ngIf="player"></div>
